spring:
  jpa:
    hibernate:
      ddl-auto: update
    #    show-sql: true # uncomment to show sql commands being executed
    database-platform: org.hibernate.dialect.MySQL8Dialect
    generate-ddl: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
      jakarta:
        persistence:
          sharedCache:
            mode: ALL
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/dtn_server_db?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    #    username: <mySQL username>
    #    password: <mySQL password>
    db-name: dtn_server_db

serviceadapter:
  datacheck:
    interval: 10m

ssl-grpc:
  server:
    port: 7778
server:
  port: 8081
bundle-server:
  #  bundle-store-root: <add directory path containing key files in external properties file>
  bundle-store-shared: "${bundle-server.bundle-store-root}Shared"
  registered-app-ids: "${bundle-server.bundle-store-root}Shared/REGISTERED_APP_IDS.txt"
  bundle-transmission:
    bundle-size-limit: 104857600
    bundle-received-location: "${bundle-server.bundle-store-root}Shared/receive"
    bundle-generation-directory: "${bundle-server.bundle-store-root}BundleTransmission/bundle-generation"
    to-be-bundled-directory: "${bundle-server.bundle-store-root}BundleTransmission/bundle-generation/to-be-bundled"
    to-send-directory: "${bundle-server.bundle-store-root}BundleTransmission/bundle-generation/to-send"
    received-processing-directory: "${bundle-server.bundle-store-root}BundleTransmission/received-processing"
    uncompressed-payload-directory: "${bundle-server.bundle-store-root}BundleTransmission/bundle-generation/uncompressed-payload"
    compressed-payload-directory: "${bundle-server.bundle-store-root}BundleTransmission/bundle-generation/compressed-payload"
    encrypted-payload-directory: "${bundle-server.bundle-store-root}BundleTransmission/bundle-generation/encrypted-payload"
  application-data-manager:
    app-data-size-limit: 31457280
    state-manager:
      sent-bundle-details: "${bundle-server.bundle-store-root}Shared/DB/SENT_BUNDLE_DETAILS.json"
      last-sent-bundle-structure: "${bundle-server.bundle-store-root}Shared/DB/LAST_SEND_BUNDLE_STRUCTURE.json"
      bundle-id-next-counter: "${bundle-server.bundle-store-root}Shared/DB/BUNDLE_ID_NEXT_COUNTER.json"
    data-store-adaptor:
      app-data-root: "${bundle-server.bundle-store-root}"
  bundle-security:
    server-key-path: "${bundle-server.bundle-store-root}BundleSecurity/Keys/Server"
    server-serverkeys-path: "${bundle-server.bundle-store-root}BundleSecurity/Keys/Server/Server_Keys"
grpc-security:
  path: "${bundle-server.bundle-store-root}GrpcSecurity"
